@import '../../colors'
@import '../../global'

.grid-container
    display: grid
    grid-template: "img votes" 25px "img description" fit-content(100px) "img author" fit-content(50px) / 100px fit-content(700px)
    row-gap: 5px

.image-container
    grid-area: img

.votes-container
    grid-area: votes
    font-weight: bold

.description-container
    @extend %flex-container
    grid-area: description

    .title
        color: $title-color
        text-decoration: none

.author-signature-container
    display: flex
    align-items: center
    grid-area: author
    color: $signature-color